<head>
  <link href="/css/footer.css" rel="stylesheet" />
</head>

<footer class="bg-dark text-white py-4 mt-4" style="position: relative">
  <!-- tudo do footer menos o copyright -->
  <div class="container-fluid pt-2">
    <div>
      <!-- logo e slogan -->
      <div class="text-center">
        <div
          class="d-flex text-center justify-content-center align-items-center pb-1"
        >
          <img
            src="/images/logo.png"
            alt="Logo iEmprego"
            class="mb-3 me-2"
            width="60"
          />
          <div class="pb-3">
            <h3 class="mb-0"><b>iEmprego</b></h3>
            <h6 class="text-start fw-normal">Madeira</h6>
          </div>
        </div>

        <h5 class="mb-4 px-1 fw-normal">
          A principal plataforma regional para publicar e encontrar vagas de
          emprego de forma rápida, fácil e eficiente.
        </h5>
      </div>

      <!--  contactos -->
      <div class="ms-auto d-flex flex-column justify-content-centergap-2">
        <!-- contactos -->
        <div class="text-center pt-4 pb-5">
          <div class="fw-normal mb-2">
            <h6>DESENVOLVEDORES</h6>
          </div>
          <ul class="list-unstyled">
            <li>
              <a
                href="mailto: joao.calheta@acinacademy.pt"
                class="text-secondary text-decoration-none"
                ><h5 class="fw-normal">joao.calheta@acinacademy.pt</h5></a
              >
            </li>
            <li>
              <a
                href="mailto: manuel.cabeceiro@acinacademy.pt"
                class="text-secondary text-decoration-none"
                ><h5 class="fw-normal">manuel.cabeceiro@acinacademy.pt</h5></a
              >
            </li>
            <li>
              <a
                href="mailto: afonso.sousa@acinacademy.pt"
                class="text-secondary text-decoration-none"
                ><h5 class="fw-normal">afonso.sousa@acinacademy.pt</h5></a
              >
            </li>
            <li>
              <a
                href="mailto: matilde.abreu@acinacademy.pt"
                class="text-secondary text-decoration-none"
                ><h5 class="fw-normal">matilde.abreu@acinacademy.pt</h5></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <div
    class="bg-black text-secondary text-center p-2"
    style="position: absolute; bottom: 0; width: 100%"
  >
    <h6 class="p-1">&copy; 2025 iEmprego. All Rights Reserved.</h6>
  </div>
</footer>
