<head>
  <link href="/css/header.css" rel="stylesheet" />
  <link href="/css/general.css" rel="stylesheet" />
</head>
<div class="mb-3">
  <div class="d-flex align-items-center justify-content-between header pt-4">
    <!-- lado esquerdo: logo + nome-->
    <div class="d-flex align-items-center">
      <!-- logo-->
      <div class="me-2 d-flex align-items-center">
        <a href="/">
          <img class="logo" src="/images/logo.png" />
        </a>
      </div>
      <!-- nome-->
      <div>
        <a class="text-black text-decoration-none" href="/">
          <h4 class="m-0"><b>iEmprego</b></h4>
          <h6 class="text-start">Madeira</h6>
        </a>
      </div>
    </div>
    <!-- lado direito: myaccount + logout-->
    <div class="d-flex align-items-center">
      <!-- my account-->
      <div class="me-2">
        <a href="/client-my-profile">
          <img class="icon" src="/images/my-account.png" />
        </a>
      </div>
      <!-- logout-->
      <div class="">
        <a href="/">
          <img class="icon" src="/images/logout.png" />
        </a>
      </div>
    </div>
  </div>
</div>
<script src="/js/header.js"></script>
