<head>
  <link href="/css/header.css" rel="stylesheet" />
  <link href="/css/general.css" rel="stylesheet" />
</head>
<div>
  <div class="d-flex align-items-center justify-content-between header pt-4">
    <!-- lado esquerdo: logo + nome-->
    <div class="d-flex align-items-center">
      <!-- logo-->
      <div class="me-2 d-flex align-items-center">
        <a href="/">
          <img class="logo" src="/images/logo.png" />
        </a>
      </div>
      <!-- nome-->
      <div>
        <a class="text-black text-decoration-none" href="/">
          <h4 class="m-0"><b>iEmprego</b></h4>
          <h6 class="text-start">Madeira</h6>
        </a>
      </div>
    </div>
    <!-- lado direito: settings + logout-->
    <div class="d-flex align-items-center">
      <!-- settings  (sempre visivel): link muda conforme autenticação-->
      <div class="me-2">
        <% if (currentUser) { %>
        <a href="/settings">
        <% } else { %>
        <a href="/login">
        <% } %>     
          <img class="icon-profile" src="<%= currentUser && currentUser.avatar ? currentUser.avatar : '/images/my-account.png' %>" />
        </a>
      </div>

      <!-- logout-->
      <% if (currentUser) { %>
      <div class="">
        <a href="/logout">
          <img class="icon" src="/images/logout.png" />
        </a>
      </div>
      <% } %>
    </div>
  </div>
</div>
<script src="/js/header.js"></script>
