<!-- ../views/partials/settings/settings-menu.ejs -->

<head>
  <link href="/css/client-my-applications.css" rel="stylesheet" />
  <link href="/css/settings/settings-menu.css" rel="stylesheet" />
</head>

<div id="menu-container">
  <div class="pointer" onclick="loadSection('my-account')">Minha conta</div>
  <div class="pointer" onclick="loadSection('professional-profile')">
    Perfil profissional
  </div>
  <div class="pointer" onclick="loadSection('my-applications')">
    Minhas candidaturas
  </div>
  <div class="pointer" onclick="loadSection('my-companies')">
    Minhas empresas
  </div>
</div>

<!---------------ALERTAS---------------->

<div
  id="notification-perfil-att"
  class="notificationperfilatt"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Perfil editado com sucesso</div>
  </div>
  <div class="progress-bar-perfil-att"></div>
</div>

<div
  id="notification-create-company"
  class="notificationcreatecompany"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Empresa criada com sucesso</div>
  </div>
  <div class="progress-bar-create-company"></div>
</div>

<div
  id="notification-manage-company"
  class="notificationmanagecompany"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Empresa editada com sucesso</div>
  </div>
  <div class="progress-bar-manage-company"></div>
</div>

<div
  id="notification-delete-company"
  class="notificationdeletecompany"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Empresa eliminada com sucesso</div>
  </div>
  <div class="progress-bar-delete-company"></div>
</div>

<div
  id="notification-del-cand"
  class="notificationdelcand"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Candidatura eliminada com sucesso</div>
  </div>
  <div class="progress-bar-del-cand"></div>
</div>

<script src="/js/settings/settings-menu.js"></script>
<script src="/js/notifications.js"></script>
