<!-- ../views/partials/settings/settings-menu.ejs -->

<head>
  <link href="/css/client-my-applications.css" rel="stylesheet" />
  <link href="/css/settings/settings-menu.css" rel="stylesheet" />
</head>

<div id="menu-container">
  <div class="pointer" onclick="loadSection('my-account')">Minha conta</div>
  <div class="pointer" onclick="loadSection('professional-profile')">
    Perfil profissional
  </div>
  <div class="pointer" onclick="loadSection('my-applications')">
    Minhas candidaturas
  </div>
  <div class="pointer" onclick="loadSection('my-companies')">
    Minhas empresas
  </div>
</div>

<script src="/js/settings/settings-menu.js"></script>

<div
  id="notification-perfil-att"
  class="notificationperfilatt"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Perfil editado com sucesso</div>
  </div>
  <div class="progress-bar-perfil-att"></div>
</div>

<div
  id="notification-create-company"
  class="notificationcreatecompany"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Empresa criada com sucesso</div>
  </div>
  <div class="progress-bar-create-company"></div>
</div>

<div
  id="notification-manage-company"
  class="notificationmanagecompany"
  style="display: none"
>
  <div class="alert">!</div>
  <div class="content">
    <div class="title">Notificação</div>
    <div class="message">Empresa editada com sucesso</div>
  </div>
  <div class="progress-bar-manage-company"></div>
</div>

<script>
  // Verifica se há notificação de remoção a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoPerfilAtt") === "true") {
    const notificationPerfilAtt = document.getElementById(
      "notification-perfil-att"
    );
    notificationPerfilAtt.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoPerfilAtt");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationPerfilAtt.querySelector(
      ".progress-bar-perfil-att"
    );
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationPerfilAtt.classList.add("hide");
      setTimeout(() => {
        notificationPerfilAtt.remove();
      }, 50); // tempo da transição de opacidade
    }, 5000); // tempo do alerta
  }
</script>

<script>
  // Verifica se há notificação de remoção a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoCreateCompany") === "true") {
    const notificationCreateCompany = document.getElementById(
      "notification-create-company"
    );
    notificationCreateCompany.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoCreateCompany");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationCreateCompany.querySelector(
      ".progress-bar-create-company"
    );
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationCreateCompany.classList.add("hide");
      setTimeout(() => {
        notificationCreateCompany.remove();
      }, 50); // tempo da transição de opacidade
    }, 5000); // tempo do alerta
  }
</script>

<script>
  // Verifica se há notificação de remoção a ser exibida
  if (sessionStorage.getItem("mostrarNotificacaoManageCompany") === "true") {
    const notificationManageCompany = document.getElementById(
      "notification-manage-company"
    );
    notificationManageCompany.style.display = "flex";

    // Remove o gatilho da sessão para não repetir
    sessionStorage.removeItem("mostrarNotificacaoManageCompany");

    // Reinicia a animação da progress bar (necessário para casos de reuso)
    const progressBar = notificationManageCompany.querySelector(
      ".progress-bar-manage-company"
    );
    progressBar.style.animation = "none";
    progressBar.offsetHeight; // forçar reflow
    progressBar.style.animation = null;

    // Esconde após x segundos
    setTimeout(() => {
      notificationManageCompany.classList.add("hide");
      setTimeout(() => {
        notificationManageCompany.remove();
      }, 50); // tempo da transição de opacidade
    }, 5000); // tempo do alerta
  }
</script>
