<!-- ../views/partials/settings/settings-menu.ejs -->

<head>
  <link href="/css/settings/settings-menu.css" rel="stylesheet" />
</head>

<div id="menu-container">
  <div class="pointer" onclick="loadSection('my-account')">Minha conta</div>
  <div class="pointer" onclick="loadSection('professional-profile')">
    Perfil profissional
  </div>
  <div class="pointer" onclick="loadSection('my-applications')">
    Minhas candidaturas
  </div>
  <div class="pointer" onclick="loadSection('my-companies')">
    Minhas empresas
  </div>
</div>

<script src="/js/settings/settings-menu.js"></script>
