<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="candidatura.css" />
    <title>candidatura</title>
  </head>
  <body>
    <p><b>Candidatura</b></p>
    <div class="dados">
      <input type="nome" placeholder="Nome completo" />
      <br />
      <input type="idade" placeholder="Idade" />
      <br />
      <input type="numero" placeholder="Nº de Telefone" />
      <br />
      <input type="nif" placeholder="NIF" />
      <br />
      <input type="email" placeholder="E-mail" />
      <br />
      <input type="morada" placeholder="Morada" />
      <br />
      <input type="localidade" placeholder="Localidade" />
      <br />
      <input type="escolaridade" placeholder="escolaridade" />
      <br />
      <input type="linguas" placeholder="Linguas" />
      <br />
      <div class="sobre">
        <input type="sobre" placeholder="Sobre mim" />
      </div>
      <br />
      <label for="anexarcv">Anexar CV</label>
      <input type="file" placeholder="Anexar CV" />
      <br />
    </div>

    <div class="actions-btn">
      <button type="button" class="btn btn-blue" onclick="history.back()">
        Voltar
      </button>
      <button type="submit" class="btn btn-blue">Enviar</button>
    </div>
  </body>
</html>
