<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/company-my-announcements.css" rel="stylesheet" />
</head>

<div class="container">
  <div class="card">
    <img src="/images/anuncio1.jpg" class="thumbnail" />

    <h2 class="font-weight-bold mb-2">Cozinheiro</h2>
    <h5 class="mb-1">Santa-Cruz</h5>
    <h5 class="mb-1">Full-Time</h5>

    <p class="text-secondary mt-2">
      Descrição: Este trabalho consiste em preparar os almoços...
    </p>

    <div class="d-grid gap-2">
      <button class="btn btn-blue">Enviar Candidatura</button>
      <button class="btn btn-black" onclick="history.back()">Voltar</button>
    </div>
  </div>
</div>
