<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/client-my-profile.css" rel="stylesheet" />
</head>
<div id="menu-container">
  <div onclick="clientProfile()" class="pointer">
    <h6 id="perfil">Meu perfil</h6>
  </div>
  <div onclick="profData()" class="pointer">
    <h6 id="prof-data">Dados profissionais</h6>
  </div>
  <div onclick="clientCand()" class="pointer">
    <h6 id="cand">Candidaturas</h6>
  </div>
  <div onclick="myComp()" class="pointer">
    <h6 id="my-comp">Minhas empresas</h6>
  </div>
</div>
<hr id="linha" />
<form id="profile-form">
  <input type="file" id="uploadFoto" accept="image/*" style="display: none" />
  <div id="pfp-container" style="cursor: pointer; text-align: center">
    <img id="pfpImg" src="/images/my-account.png" alt="pfp" />
    <p id="pfpChange">Alterar Imagem</p>
  </div>
  <h2 class="fw-bold mb-4" id="personalData">Dados Pessoais</h2>
  <script>
    // Quando clica no container, abre o seletor de ficheiros
    document
      .getElementById("pfp-container")
      .addEventListener("click", function () {
        document.getElementById("uploadFoto").click();
      });

    // Quando seleciona uma imagem, atualiza a imagem visível
    document
      .getElementById("uploadFoto")
      .addEventListener("change", function (event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("pfpImg").src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });
  </script>
  <div>
    <input
      class="form-group"
      type="text"
      name="name"
      placeholder="Nome e apelido"
    />
  </div>
    <div>
    <input
      class="form-group"
      type="text"
      name="age"
      placeholder="Idade"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="username"
      placeholder="Nome de Utilizador"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="tel"
      name="phone"
      placeholder="Nº Telemóvel"
    />
  </div>
    <div>
    <input
      class="form-group"
      type="text"
      name="address"
      placeholder="Morada"
    />
  </div>
    <div>
    <input
      class="form-group"
      type="text"
      name="municipality"
      placeholder="Localidade"
    />
  </div>
    <div>
    <input
      class="form-group"
      type="text"
      name="postcode"
      placeholder="Código Postal"
    />
  </div>
  <div>
    <input class="form-group" type="text" name="nif" placeholder="NIF" />
  </div>
  <div>
    <input class="form-group" type="text" name="email" placeholder="E-mail" />
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="confirmEmail"
      placeholder="Confirmar E-mail"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="password"
      placeholder="Palavra-passe Atual"
    />
  </div>
  <div>
    <input
      class="form-group"
      type="text"
      name="newPassword"
      placeholder=" Nova Palavra-passe"
    />
  </div>

  <br />
  <br />
  <div class="actions-btn d-flex">
    <div class="d-flex justify-content-between gap-3 buttonWidth">
      <button
        type="button"
        class="buttonWidth btn btn-black"
        onclick="window.location.href='/'"
      >
        Voltar
      </button>
      <button type="submit" class="buttonWidth btn btn-blue">Guardar</button>
    </div>
  </div>
  <br />
  <div class="actions-btn d-grid buttonWidth">
    <button class="btn btn-delete">Eliminar Conta</button>
  </div>

  <script src="/js/client-my-profile.js"></script>
</form>
