<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/company-my-announcements.css" rel="stylesheet" />
</head>

<div class="white-card full-announcement p-3">
  <div class="gap-2">
    <h3><b>Cozinheiro</b></h3>

    <h5 class="mb-0 fw-normal">
      <span class="fw-semibold">Local:</span> Santa Cruz
    </h5>
    <h5 class="fw-normal">
      <span class="fw-semibold">Regime:</span> Full-time
    </h5>
    <h5 class="fw-normal">
      <span class="fw-semibold">Categoria:</span> Restauração
    </h5>
    <h5 class="fw-normal"><span class="fw-semibold">Tipo:</span> Emprego</h5>
    <h5 class="fw-normal">
      <span class="fw-semibold">Escolaridade:</span> Ensino Básico
    </h5>
    <h5 class="fw-normal">
      <span class="fw-semibold">Línguas:</span> Português; Inglês
    </h5>
    <h5 class="fw-normal">
      <span class="fw-semibold">Horário:</span> 09H00 - 17H00
    </h5>
    <h5 class="fw-normal">
      <span class="fw-semibold">Salário:</span> A combinar
    </h5>
    <h5 class="fw-normal">
      <span class="fw-semibold">Fim do anúncio:</span> 14/08/2025
    </h5>
    <img src="/images/anuncio1.jpg" class="mt-2" />
    <h6 class="fw-normal">
      <span class="fw-semibold">Descrição:</span>

      Responsabilidades: Preparar e montar pratos de acordo com o cardápio da
      casa; Garantir a qualidade e apresentação dos alimentos; Zelar pela
      higiene e organização da cozinha; Controlar o estoque de ingredientes e
      solicitar reposições quando necessário; Trabalhar em equipe, mantendo um
      ambiente colaborativo e produtivo. Requisitos: Experiência comprovada como
      cozinheiro(a); Conhecimento em boas práticas de higiene e segurança
      alimentar; Agilidade, responsabilidade e bom relacionamento interpessoal;
      Desejável ensino médio completo e/ou curso na área de gastronomia.
    </h6>
  </div>

  <div class="d-grid gap-2 mt-3">
    <a
      href="/client-submit"
      class="d-grid gap-2 text-reset text-decoration-none"
    >
      <button class="btn btn-blue">Enviar Candidatura</button>
    </a>
    <button class="btn btn-black" onclick="history.back()">Voltar</button>
  </div>
</div>
