<head>
  <link href="/css/general.css" rel="stylesheet" />
  <link href="/css/company-create-announcement.css" rel="stylesheet" />
</head>

<div class="container-ad">
  <h2 class="text-center my-4">Criar Anúncio</h2>
  <form
    method="POST"
    action="/company-create-announcement/"
  >
    <label
      >Nome da profissão
      <input type="text" name="job_name" required />
    </label>
    <label
      >Categoria
      <select name="category" required>
        <option>-- Selecione uma opção --</option>
        <option>Restauração</option>
        <option>Limpeza</option>
        <option>Construção</option>
        <option>Vendedor</option>
      </select>
    </label>
    <label
      >Tipo de contrato
      <select name="type" required>
        <option>-- Selecione uma opção --</option>
        <option>Emprego</option>
        <option>Estágio</option>
      </select>
    </label>
    <label
      >Local do emprego
      <input type="text" name="municipality" required />
    </label>
    <label
      >Regime
      <select name="regime" required>
        <option>-- Selecione uma opção --</option>
        <option>Full-Time</option>
        <option>Part-Time</option>
      </select>
    </label>
    <label
      >Escolaridade
      <select name="education_level" required>
        <option>-- Selecione uma opção --</option>
        <option>Ensino Básico</option>
        <option>Ensino Secundário</option>
        <option>Ensino Superior</option>
      </select>
    </label>
    <label
      >Línguas
      <input type="text" name="languages" required />
    </label>
    <label
      >Salário
      <input type="text" name="salary" required />
    </label>
    <label
      >Horário
      <input type="text" name="schedule" required />
    </label>
    <label
      >Prazo de candidatura
      <input type="text" name="end_date" required />
    </label>
    <label
      >Descrição
      <textarea name="description" rows="4"></textarea>
    </label>
    <div>
      <h5>Adicionar Foto:</h5>
      <br />
      <input type="file" name="pic" class="d-none" id="fileInput" />
      <label for="fileInput" class="btn btn-primary">
        <i class="bi bi-upload"></i> Enviar
      </label>
    </div>
    <div class="actions-btn">
      <button type="button" class="btn btn-blue" onclick="history.back()">
        Voltar
      </button>
      <button type="submit" class="btn btn-blue">Criar</button>
    </div>
  </form>
</div>

<script src="/js/company-create-announcement.js"></script>
