<head>
  <link href="/css/form.css" rel="stylesheet" />
</head>


<h2 class="text-center my-5 fw-bold">Criar empresa</h2>

<form method="POST" action="/create-company/">
  <label for="name">Nome da empresa</label>
  <input type="text" id="name" name="name" required />

  <label for="phone">Telefone</label>
  <input type="text" id="phone" name="phone" required />

  <label for="nif">NIF</label>
  <input type="text" id="nif" name="nif" required />

  <label for="address">Morada</label>
  <input type="text" id="address" name="address" required />

  <label for="postcode">Código Postal</label>
  <input type="text" id="postcode" name="postcode" required />

  <label for="municipality">Concelho</label>
  <input
    type="text"
    id="municipality"
    name="municipality"
    required
  />

  <label for="about_us">Sobre nós</label>
  <input type="text" id="about_us" name="about_us" required />

  <label for="pic">Adicionar imagem</label>
  <input type="text" id="pic" name="pic" />

  <div class="d-flex gap-3 mt-4">
    <div class="w-50">
      <button
        type="button"
        class="btn btn-black w-100"
        onclick="history.back()"
      >
        <h6 class="fw-bold">Voltar</h6>
      </button>
    </div>
    <div class="w-50">
      <button type="submit" class="btn btn-blue w-100">
        <h6 class="fw-bold">Criar empresa</h6>
      </button>
    </div>
  </div>
</form>
