
<head>
  <link href="/css/ad.css" rel="stylesheet" />
  <link href="/css/general.css" rel="stylesheet" />
</head>

<div class="container-ad">
  <h2>Criar Anúncio</h2>
  <form id="createAnuncioForm">
    <label>Nome da profissão
      <input type="text" name="title" required>
    </label>
    <label>Categoria
      <select name="category">
        <option>-- Selecione uma opção --</option>
        <option>Restauração</option>
        <option>Limpeza</option>
        <option>Construção</option>
        <option>Vendedor</option>
      </select>
    </label>
    <label>Tipo de contrato
      <select name="type">
        <option>-- Selecione uma opção --</option>
        <option>Emprego</option>
        <option>Estágio</option>
      </select>
    </label>
    <label>Local do emprego
      <input type="text" name="location" required>
    </label>
    <label>Regime
      <select name="regime">
        <option>-- Selecione uma opção --</option>
        <option>Full-Time</option>
        <option>Part-Time</option>
      </select>
    </label>
    <label>Descrição
      <textarea name="description" rows="4"></textarea>
    </label>
    <label>Adicionar foto
      <input type="file" name="photo">
    </label>
    <div class="actions-btn">
      <button type="button" class="btn btn-blue" onclick="history.back()">Voltar</button>
      <button type="submit" class="btn btn-blue">Criar</button>
    </div>
  </form>
</div>

<script src="/js/createAd.js"></script>
