<div class="container">
  <div>
    <div class="me-2">
      <a href="/">
        <img class="announcement" src="/images/anuncio1.jpg" />
      </a>
    </div>
    <div>
      <h3>Cozinheiro</h3>
      <h3>Santa Cruz</h3>
      <h3>Full-time</h3>
      <a href="/"> Saber mais </a>
    </div>
  </div>
</div>

<a href="/myAds">Ver anúncios - temporário</a>
<a href="/myProfileClient">Meu Perfil - temporário</a>