<!-- views/login.ejs-->

<head>
  <link href="/css/login.css" rel="stylesheet" />
</head>

<!--Mensagem de erro caso o utilizador não esteja autenticado-->
<% if (error && error.length) { %> <% error.forEach(msg => { %>
<div class="alert alert-danger"><%= msg %></div>
<% }) %> <% } %> <% if (success && success.length) { %> <% success.forEach(msg
=> { %>
<div class="alert alert-success"><%= msg %></div>
<% }) %> <% } %>

<h1 class="fw-bold mt-4 mb-4">Bem-vindo!</h1>

<div class="d-flex justify-content-center pt-2 mb-4">
  <div class="switch">
    <div class="slider" id="slider"></div>
    <button id="btn-login" class="active"><h5>Login</h5></button>
    <button id="btn-register">
      <h5>Registar</h5>
    </button>
  </div>
</div>

<form id="login-form" class="form active" action="/login" method="POST">
  <br />
  <div class="mailpass">
    <div>
      <div class="text-start pb-1">Email</div>
      <input
        class="mb-2"
        type="email"
        name="email"
        placeholder="Escreva o seu email"
        required
      />

      <div class="text-start pb-1">Palavra-passe</div>
      <input
        type="password"
        name="password"
        placeholder="Escreva a sua password"
        required
      />
    </div>
  </div>
  <br />

  <button type="submit" class="mt-2 btn btn-blue w-100">Login</button>
</form>

<form id="register-form" class="form" method="POST" action="/register">
  <div class="mailpass">
    <div class="candidato-f">
      <div class="text-start pb-1">Nome</div>
      <input
        class="mb-2"
        name="name"
        type="text"
        placeholder="Escreva o seu nome"
        minlength="2"
        maxlength="50"
        required
      /><br />

      <div class="text-start pb-1">Username</div>
      <input
        class="mb-2"
        name="username"
        type="text"
        placeholder="Escreva o seu nome de utilizador"
        minlength="3"
        maxlength="30"
        pattern="^[a-z0-9_.-]+$"
        title="Apenas letras minúsculas, números, '.', '-' e '_' são permitidos"
        required
      />

      <div class="text-start pb-1">Email</div>
      <input
        class="mb-2"
        name="email"
        type="email"
        placeholder="Escreva o seu email"
        maxlength="100"
        required
      /><br />

      <div class="text-start pb-1">Password</div>
      <input
        class="mb-2"
        name="password"
        type="password"
        placeholder="Escreva a sua password"
        minlength="6"
        required
      /><br />

      <div class="text-start pb-1">Confirmar password</div>
      <input
        name="confirmpassword"
        type="password"
        placeholder="Confirme a sua password"
        minlength="6"
        required
      />
      <br />
    </div>
  </div>
  <br />
  <button type="submit" class="mt-2 btn btn-blue w-100">Registar</button>
</form>

<script src="js/login.js"></script>
