<!-- views/login.ejs-->

<head>
  <link href="/css/login.css" rel="stylesheet" />
</head>

<h1 class="fw-bold mt-4 mb-4">Bem-vindo!</h1>

<div class="d-flex justify-content-center pt-2 mb-4">
  <div class="switch">
    <div class="slider" id="slider"></div>
    <button id="btn-login" class="active"><h5>Login</h5></button>
    <button id="btn-register">
      <h5>Registar</h5>
    </button>
  </div>
</div>

<form id="login-form" class="form active" action="/login" method="POST">
  <br />
  <div class="mailpass">
    <div>
      <div class="text-start pb-1">Email</div>
      <input
        class="mb-3"
        type="email"
        name="email"
        placeholder="Escreva o seu email"
        required
      />

      <div class="text-start pb-1">Palavra-passe</div>
      <input
        type="password"
        name="password"
        placeholder="Escreva a sua password"
        required
      />
    </div>
  </div>
  <br />
  <div class="checkbox-group">
    <div class="">
      <label><input type="checkbox" id="checkbox" />Lembrar-me</label>
    </div>
    <div>
      <a href="/reset-password" class="esqueci"
        >Esqueceu-se da palavra-passe?</a
      >
    </div>
  </div>

  <button type="submit" class="lgn">Login</button>
</form>
<form id="register-form" class="form" method="POST" action="/register">
  <div class="mailpass">
    <div class="candidato-f">
      <label>Nome</label><br />
      <input
        name="name"
        type="text"
        placeholder="Escreva o seu nome"
        required
      /><br />

      <label>Username</label><br />
      <input
        name="username"
        type="text"
        placeholder="Escreva o seu nome de utilizador"
        required
      /><br />

      <label>Email</label><br />
      <input
        name="email"
        type="email"
        placeholder="Escreva o seu email"
        required
      /><br />

      <label>Password</label><br />
      <input
        name="password"
        type="password"
        placeholder="Escreva a sua password"
        required
      /><br />

      <label>Confirmar password</label><br />
      <input
        name="confirmpassword"
        type="password"
        placeholder="Confirme a sua password"
        required
      />
    </div>
  </div>
  <button type="submit" class="rgst">Registar</button>
</form>

<script src="js/login.js"></script>
