<head>
  <link href="/css/ad.css" rel="stylesheet" />
  <link href="/css/general.css" rel="stylesheet" />
</head>
<div id="menu-container">
    <div onclick="myCompanyProfile()" class="company-profile">
    <p id="perfil">Meu Perfil</p>
    </div>
    <div onclick="myAdd()" class="company-add">
    <p id="cand">Meus Anúncios</p>
    </div>
  </div>
    <hr id="linha" />

<div class="container">
  <div id="meusAnuncios">
    <!-- criar anuncios de forma dinâmica-->
  </div>
  <button class="btn btn-blue btn-fixed-bottom" onclick="location.href='/createAd'">+ Adicionar anúncio</button>
</div>

<script src="/js/myAds.js"></script>
<script src="/js/companyProfile.js"></script>