<head>
  <link href="/css/myCandClient.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/general.css">
</head>
  <div id="menu-container">  
    <div onclick="clientProfile()" class="client-profile">
    <p id="perfil">Meu Perfil</p>
    </div>
    <div onclick="clientCand()" class="client-cand">
    <p id="cand">Candidaturas</p>
    </div>
  </div>  
  <hr id="linha" /> 


<script src="/js/clientProfile.js"></script>