<head>
  <link href="/css/myProfileClient.css" rel="stylesheet" />
</head>
    <div onclick="clientProfile()" class="client-profile">
    <p id="perfil">Meu Perfil</p>
    </div>
    <div onclick="clientCand()" class="client-cand">
    <p id="cand">Candidaturas</p>
    </div>
    <hr id="linha" /> 
    <form id="profile-form">
      <div id="pfp-container">
        <img id="pfpImg" src="/images/my-account.png" alt="pfp">
        <p id="pfpChange">Alterar Imagem</p>
      </div>
      <h2 id="personalData">Dados Pessoais</h2>
      <div>
        <input class="form-group" type="text" name="name" placeholder="Nome e apelido" />
      </div>
      <div >
        <input class="form-group" type="text" name="username" placeholder="Nome de Utilizador" />
      </div>
      <div >
        <input class="form-group" type="tel" name="phone" placeholder="Nº Telemóvel" />
      </div>
      <div >
        <input class="form-group" type="text" name="nif" placeholder="NIF" />
      </div>
      <div >
        <input class="form-group" type="text" name="email" placeholder="E-mail" />
      </div>
      <div >
        <input class="form-group" type="text" name="confirmEmail" placeholder="Confirmar E-mail" />
      </div>
      <div >
        <input class="form-group" type="text" name="password" placeholder="Palavra-passe Atual" />
      </div>
      <div >
        <input class="form-group" type="text" name="newPassword"placeholder=" Nova Palavra-passe" />
      </div>
    </form>
    <form id="professional-form">
      <h2 id="personalData">Dados Profissionais</h2>
      <div >
        <input class="form-group" type="text" name="name" placeholder="Línguas" />
      </div>
      <div >
        <input class="form-group" type="text" name="username" placeholder="Escolaridade" />
      </div>
      <div >
        <input class="form-group" type="tel" name="phone" placeholder="Competências" />
      </div>
      <div>
        <h5 id="cv">Anexar CV:</h5>
        <input class="form-group_CV"type="file"/>
    </form>
    <div class="buttons">
      <button class="buttons" id="saveChanges">Guardar Alterações</button>
      <button class="buttons" id="cancelChanges">Cancelar</button>
    </div>
    <div class="deleteACC">
      <button class="deleteACC"id="deleteAccount">Eliminar Conta</button>
    </div>
    <script src="/js/clientProfile.js"></script>
    