<head>
  <link href="/css/myProfileClient.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/general.css">
</head>
  <div id="menu-container">
    <div onclick="clientProfile()" class="client-profile ">
    <p id="perfil">Meu Perfil</p>
    </div>
    <div onclick="clientCand()" class="client-cand ">
    <p id="cand">Candidaturas</p>
    </div>
  </div>
    <hr id="linha" /> 
    <form id="profile-form">
      <input type="file" id="uploadFoto" accept="image/*" style="display: none;">
      <div id="pfp-container" style="cursor: pointer; text-align: center;">
        <img id="pfpImg" src="/images/my-account.png" alt="pfp" >
        <p id="pfpChange">Alterar Imagem</p>
      </div>
      <h2 id="personalData">Dados Pessoais</h2>
      <div>
        <script>
          // Quando clica no container, abre o seletor de ficheiros
            document.getElementById('pfp-container').addEventListener('click', function () {
            document.getElementById('uploadFoto').click();
            });

          // Quando seleciona uma imagem, atualiza a imagem visível
            document.getElementById('uploadFoto').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
              const reader = new FileReader();
              reader.onload = function (e) {
              document.getElementById('pfpImg').src = e.target.result;
              };
             reader.readAsDataURL(file);
              }
            });
        </script>
        <input class="form-group" type="text" name="name" placeholder="Nome e apelido" />
      </div>
      <div >
        <input class="form-group" type="text" name="username" placeholder="Nome de Utilizador" />
      </div>
      <div >
        <input class="form-group" type="tel" name="phone" placeholder="Nº Telemóvel" />
      </div>
      <div >
        <input class="form-group" type="text" name="nif" placeholder="NIF" />
      </div>
      <div >
        <input class="form-group" type="text" name="email" placeholder="E-mail" />
      </div>
      <div >
        <input class="form-group" type="text" name="confirmEmail" placeholder="Confirmar E-mail" />
      </div>
      <div >
        <input class="form-group" type="text" name="password" placeholder="Palavra-passe Atual" />
      </div>
      <div >
        <input class="form-group" type="text" name="newPassword"placeholder=" Nova Palavra-passe" />
      </div>
    </form>
    <form id="professional-form">
      <h2 id="personalData">Dados Profissionais</h2>
      <div >
        <input class="form-group" type="text" name="name" placeholder="Línguas" />
      </div>
      <div >
        <input class="form-group" type="text" name="username" placeholder="Escolaridade" />
      </div>
      <div >
        <input class="form-group" type="tel" name="phone" placeholder="Competências" />
      </div>
      <div>
        <h5 id="cv">Anexar CV:</h5>
        <input type="file" class="d-none" id="fileInput">
        <label for="fileInput" class="btn btn-primary">
          <i class="bi bi-upload"></i> Enviar arquivo
        </label>
      </div>
    </form>
    <br>
    <br>
    <div class="actions-btn d-flex">
      <div class="d-flex justify-content-between gap-3 buttonWidth">
      <button type="button" class="buttonWidth btn btn-blue" onclick="history.back()">Voltar</button>
      <button type="submit" class="buttonWidth btn btn-blue">Guardar</button>
      </div>
    </div>
    <div class="actions-btn d-grid buttonWidth">
      <button class="btn btn-delete">Eliminar Conta</button>
    </div>
  

    <script src="/js/clientProfile.js"></script>
    