main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;                   /* ocupa toda a altura da tela */
  justify-content: flex-start;         /* conteúdo principal no topo */
  align-items: center; 
  padding: 1rem;
}

/* Botão fica fixo em baixo */
.btn-fixed-bottom {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* FORMULÁRIO CRIAR ANÚNCIO */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  padding: 1.6rem;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

/* Estilo dos inputs, selects e textarea */
form input[type="text"], 
form textarea, 
form select, 
form input[type="file"] {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;     
  box-sizing: border-box;
  font-size: 12px;
}

form label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

form .actions-btn {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

form .actions-btn .btn {
  flex: 1;
}

/* ANUNCIOS CARDS QUE APARECEM NOS MEUS ANÚNCIOS */

.card {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
