/*----------------------PAGE SWITCH-----------------------*/

#linha {
  position: relative;
  top: -20px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: black;
}

#perfil {
  font-weight: bold;
}

/* ---------------------------PROFILE FORM----------------------------- */

.form-group {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.sobre input {
  padding-bottom: 70px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
  padding-bottom: 70px;
}

.escolaridade select {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  transition: border-color 0.3s ease;
}

#personalData {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  text-align: center;
}
.form-group_CV {
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
  display: flex;
}
#cv {
  font-family: Arial, Helvetica, sans-serif;
}
#pfp-container {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  cursor: pointer;
  width: 150px; /* tamanho fixo */
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 4px solid #2146c0;
}

#pfpImg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantém proporção e corta o excesso */
}
