/* ../css/general.css */

* {
  box-sizing: border-box;
}

@media only screen and (min-device-width: 390px) and (max-device-width: 393px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .body {
    max-width: 100%;
    padding: 12px;
  }
}
html,
body {
  background-color: rgb(236, 236, 236) !important;
  overflow: auto;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* firefox */
  width: 410px;
  height: 932px;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}

body {
  border: 1px solid #2c5cfa;
}

.buttonWidth {
  width: 100% !important;
}

/* COISAS GERAIS */
.pointer {
  cursor: pointer;
}

/* CONTAINER GLOBAL */

.container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

/* CARDS DE ANUNCIOS, EMPRESAS, ETC*/

.white-card {
  background-color: white;
  border-radius: 15px;
  padding: 9px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  border: 2.5px solid #000000 !important;
}

.mini-card-image-wrapper {
  width: 100px !important;
  height: 96px !important;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-right: 2.5px solid #000000 !important;
}

.structure-img {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}

/* INPUT */

input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #333;
  width: 100%;
}

/* BOTÕES */

button {
  all: unset;
  padding: 0px !important;
}

.btn {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
}

.btn-small {
  padding: 7px 6px !important;
  font-weight: 500 !important;
  border-radius: 15px !important;
}

.btn-blue {
  background: #2c5cfa;
  color: #fff;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #2146c0;
  color: #fff;
}

.btn-black {
  background: #333;
  color: #fff;
  font-weight: bold;
}

.btn-black:hover {
  background-color: #131313;
  color: #fff;
}

.btn-delete {
  background: #c31818;
  color: #fff;
  font-weight: bold;
}

.btn-delete:hover {
  background: #8b1414;
  color: #fff;
}

.btn-cancel {
  background-color: #f2f2f2;
  color: black;
}

h4 {
  font-size: clamp(20px, 3vw, 25px) !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

h5 {
  font-size: clamp(15px, 3vw, 20px) !important;
  margin-bottom: 0px !important;
}

h6 {
  font-size: clamp(12px, 3vw, 16px) !important;
  margin-bottom: 0px !important;
}

option {
  padding-right: 0px;
}

ol,
li {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  list-style: none !important;
}

select {
  border-radius: 30px !important;
  border: 1.5px solid black !important;
  padding-left: clamp(25px, 5vw, 30px) !important;
  padding-right: clamp(25px, 5vw, 30px) !important;
  cursor: pointer;
}

input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #333;
  width: 100%;
}
