.header {
  padding: 10px;
  text-align: left;
  background: #ffffff;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

header {
  position: relative;
  z-index: 10;
}

.profile {
  width: 50px;
  text-align: right;
  z-index: 10;
}

.logo {
  width: 45px;
  padding-left: 1px;
}

.icon {
  width: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}

