.main-card-search-filter {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.main-card-search {
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 2.5px solid #000000;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.main-card-filter-right {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom: 2.5px solid #000000;
  border-left: 2.5px solid #000000;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.main-card-filter-left {
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom: 2.5px solid #000000;
  border-right: 2.5px solid #000000;
  border-left: 2.5px solid #000000;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.input-group {
  border-top-left-radius: 15px !important;
}

.search-bottom {
  border-top-right-radius: 15px !important;
}

/* imagens de anuncios */
/*
.announcement {
  height: 70px;
  aspect-ratio: 3 / 2;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}
.image-wrapper {
  width: 100px !important;
  height: 105px !important;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-right: 2.5px solid #000000 !important;
}

.announcement-img {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}*/

/*----------------Alerta--------------------*/

.notificationcandenv {
  margin: 20px;
  background-color: rgba(27, 216, 2, 0.9);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notification.hide {
  opacity: 0;
}

.alert {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
  color: white;
}

.message {
  font-size: 13px;
  color: white;
}

/* A barra de progresso */

.progress-bar-cand-env {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(134, 255, 118, 0.9);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

@keyframes progressAnim {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}


.application-count {
  position: absolute;
  bottom: 10px;
  right: 12px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 0.85rem;
  color: #333;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 5;
}
