.switch {
  position: relative;
  display: flex;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  background: #dff2ff;
  overflow: hidden;
  padding: 5px;
  text-align: center;
}

.switch button {
  flex: 1;
  border: none;
  background: transparent;
  z-index: 2;
  color: #1799d1;
  font-size: 16px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #1799d1;
  border-radius: 15px;
  transition: left 0.3s;
  z-index: 1;
}

.switch button.active {
  color: white;
  font-weight: bold;
}

.switch-container {
  align-items: center;
  margin: auto;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

body {
  text-align: center;
  background: #f2f2f2;
}

.lgn {
  background-color: #1895c3;
  color: #ffffff;
  font-size: 15px;
  align-items: stretch;
  padding: 15px 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;
  width: 92%;
  text-align: center;
}

.login-form.form.active {
  margin-bottom: 0px;
}

.mailpass {
  max-width: 600px;
  margin: 0 auto; /* CENTRA horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mailpass input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  width: 100%;
  box-sizing: border-box;
}

.container a {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 10px;
  text-decoration: none;
  margin: 15px 0 10px;
  /*text-align: end;*/
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 25px;
  text-align: center;
}

.container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  /*line-height: 20px;*/
  letter-spacing: 0.3px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.rgst {
  background-color: #1895c3;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  width: 92%;
  text-align: center;
}

.radio-group {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.checkbox-group {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.empresa-f {
  display: none;
}
