/*----------------------ALERT-----------------------*/

/*--------------settings-menu---------------------*/
.notificationperfilatt {
  margin: 20px;
  background-color: rgb(0, 204, 255);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notificationcreatecompany {
  margin: 20px;
  background-color: rgba(27, 216, 2, 0.9);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notificationmanagecompany {
  margin: 20px;
  background-color: rgb(0, 204, 255);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notificationdeletecompany {
  margin: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notificationdelcand {
  margin: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notification.hide {
  opacity: 0;
}

.alert {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
  color: white;
}

.message {
  font-size: 13px;
  color: white;
}

/* A barra de progresso */

.progress-bar-perfil-att {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(126, 229, 255);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

.progress-bar-create-company {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(134, 255, 118, 0.9);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

.progress-bar-manage-company {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(126, 229, 255);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

.progress-bar-delete-company {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(255, 86, 86);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

.progress-bar-del-cand {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(255, 86, 86);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

@keyframes progressAnim {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/*-------------company-my-annuncements------------*/

.notification {
  margin: 20px;
  background-color: rgba(27, 216, 2, 0.9);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notificationdel {
  margin: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notificationedit {
  margin: 20px;
  background-color: rgb(0, 204, 255);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notification.hide {
  opacity: 0;
}

.alert {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
  color: white;
}

.message {
  font-size: 13px;
  color: white;
}

/* A barra de progresso */
.progress-bar-add {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(134, 255, 118, 0.9);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

.progress-bar-del {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(255, 86, 86);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

.progress-bar-edit {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(126, 229, 255);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

@keyframes progressAnim {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/*-------------home------------------*/

.notificationcandenv {
  margin: 20px;
  background-color: rgba(27, 216, 2, 0.9);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  max-width: 300px;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.notification.hide {
  opacity: 0;
}

.alert {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
  color: white;
}

.message {
  font-size: 13px;
  color: white;
}

/* A barra de progresso */

.progress-bar-cand-env {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(134, 255, 118, 0.9);
  animation: progressAnim 5s linear forwards;
  width: 100%;
}

@keyframes progressAnim {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
