.filter-option {
  width: 100%;
}

.rotate-icon {
  transition: transform 0s ease;
}
.rotate-icon.rotated {
  transform: rotate(180deg);
}

.active-bold {
  font-weight: bold;
}

.filtro-container {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding-bottom: 0px;
}

.filtro-header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0px;
  font-weight: bold;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  right: 100%;
}

.filtro-section {
  border-top: 1px solid #999;
  padding: 10px 15px;
}

.dropdown-btn {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.dropdown-btn.active {
  font-weight: bold;
}

.checkbox-group {
  margin-top: 10px;
  padding-left: 10px;
}
